.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.close-preview {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.print-content {
    background-color: white;
    width: 8.5in;
    height: 11in;
    margin: 0 auto;
    transform-origin: center center;
    transform: scale(0.8);
    padding: 5px;
    font-size: 1rem;
}

.print-letterhead {
    width: 100%;
}

.print-billing-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.print-billing-details fieldset p{
    margin: 0;
}

.print-cargo-details {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.print-pol {
    grid-column: 1 / 3;
}

.print-vessel {
    grid-column: 3 / 5;
}

.print-pod {
    grid-column: 1 / 3;
    grid-row: 2;
}

.print-jobdes {
    grid-column: 1 / 5;
}

.print-table {
    grid-column: 1 / 3;
}

.print-table tr {
    display: grid;
    grid-template-columns: 2fr 0.75fr repeat(4, 1fr);
}

.print-table td:first-child,
.print-table th:last-child,
.print-table td:last-child {
    border-right: none;
}

.print-subtotal {
    grid-column: 5 / 7;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.print-totalWords {
    grid-column: 1 / 4;
    align-self: last baseline;
}

.print-table legend {
    text-align: center;
}