table {
    width: 100%;
    border: 1px solid black;
    margin-top: 1rem;
}

th {
    border-bottom: 2px solid black;
    background-color: whitesmoke;
}

th {
    text-align: center;
    border-right: 2px solid lightgray;
}

tr {
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);
}

.table-data-rows {
    padding-right: 9.5px;
}

.description {
    width: 80%;
}

.currency,
 .qty,
 .ex-rate {
    width: 50%;
}

.unit-price {
    width: 70%;
}

.vat {
    max-width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    justify-self: center;
    border-right: none;
    background: transparent;
}

.add-row {
    grid-column: 1 / 12;
}

.tr-dataEntry {
    position: relative;
}

.total-words {
    grid-column: 1 / 3;
    align-self: center;
    margin-top: 2rem;
}

.total {
    grid-column: 6;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.total-focus {
    font-weight: bold;
    text-decoration: double underline;
}

.del-btn {
    position: absolute;
    left: 0;
    align-self: center;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    user-select: none;
    transition: visibility 0.2s, opacity 0.1s;
}

.tr-dataEntry:hover {
    background-color: lightblue;
}

.tr-dataEntry:hover .del-btn {
    visibility: visible;
    opacity: 1;
}

.del-btn:hover {
    color: lightcoral;
}