.main-logo {
  position: fixed;
  left: 0;
  top: 0;
  width: 175px;
  z-index: -1;
  user-select: none;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
  padding: 10px;
}